.controls {
  padding: 6px 12px;
  display: inline-block;
  font-family: monospace;
  position: relative;
  z-index: 1;
  background-color: white;
  text-align: right;
  width: 100%;
}

.title {
  font-weight: bold;
  margin-bottom: 4px;
  text-align: left;
}
